img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.home-h1 {
  position: relative;
  font-family: 'Times New Roman', sans-serif;
  text-align: center;
  font-size: 40px;
  color: #000000;
}

.home-h3 {
  position: relative;
  font-family: 'Times New Roman', sans-serif;
  text-align: center;
  font-size: 25px;
  color: #000000;
}

.home-h2 {
  position: relative;
  font-family: 'Times New Roman', sans-serif;
  text-align: center;
  font-size: 30px;
  color: #000000;
}

#home-body {
  text-align: center;
  background-image: linear-gradient(to right, #F9E1E0, #FEADB9);
}

#res-h1 {
  position: relative;
  font-family: 'Times New Roman', sans-serif;
  text-align: center;
  font-size: 40px;
  color: #000000;
}

.res-h2 {
  position: relative;
  font-family: 'Times New Roman', sans-serif;
  text-align: center;
  font-size: 30px;
  color: #000000;
}

.res-h3 {
  position: relative;
  font-family: 'Times New Roman', sans-serif;
  text-align: center;
  font-size: 25px;
  color: #000000;
}

#res-body {
  text-align: center;
  background-image: linear-gradient(to right, #FEADB9, #BC85A3);
}

#collect-h1 {
  position: relative;
  font-family: 'Times New Roman', sans-serif;
  text-align: center;
  font-size: 40px;
  color: #191B40;
}

#collect-body {
  text-align: center;
  background-image: linear-gradient(to right, #BC85A3, #9799BA);
}

#navbar {
  background-image: linear-gradient(to left, rgb(0, 0, 0), rgb(0, 0, 0));;
  overflow: hidden;
  border: 2px solid #808080;
}

#navbar ul {
  float: left;
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  left: 50%;
}

#navbar ul li {
  position: relative;
  float: left;
  right: 50%;
}

#navbar ul li a {
  display: inline-block;
  padding: 10px;
  color: #FFFFFF;
  text-align: center;
  font-size: 100%;
  margin: 10px;
  font-family: 'Times New Roman', sans-serif;
}

#navbar #here {
  background-color: #FAE3F1;
  color: #000000;
}

.m {
  list-style-type: none;
}